// RestaurantList styles

.restaurant-list-container {
  padding-top: 2rem;
  padding-bottom: 2rem;
}

.restaurant-list-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 2rem;
}

.restaurant-card {
  height: 100%;
  min-width: 300px !important;
  display: flex;
  flex-direction: column;
}

.restaurant-card-content {
  flex-grow: 1;
}

.restaurant-card-actions {
  justify-content: center;
  padding-bottom: 1rem;
}

.loading-container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.button-group {
  display: flex;
  gap: 0.5rem;
}
